{% extends "admin/edit.html" %}


{% block form_action %}/api/people/{{ person.key() }}/edit/{% endblock %}

{% block form_fields %}
  <label for="email">
    <span class="prefix">email</span>
    <input type="text" name="email" readonly="readonly" value="{{ person_email }}" />
    <span class="suffix"></span>
  </label>

  <label for="first_name">
    <span class="prefix">first name</span>
    <input type="text" name="first_name" value="{{ person.first_name }}" />
    <span class="suffix"></span>
  </label>

  <label for="last_name">
    <span class="prefix">last name</span>
    <input type="text" name="last_name" value="{{ person.last_name }}" />
    <span class="suffix"></span>
  </label>

  <label for="birthdate">
    <span class="prefix">birthdate</span>
    <input type="text" name="birthdate" value="{{ person.birthdate|datetimeformat('%Y-%m-%d') }}" />
    <span class="suffix"></span>
  </label>

  <label for="gender">
    <span class="prefix">gender</span>
    <select name="gender">
      {% for gender in gender_choices %}
      <option value="{{ gender }}" {% if gender == person.gender %}selected="selected"{% endif %}>{{ gender }}</option>
      {% endfor %}
    </select>
    <span class="suffix"></span>
  </label>


  <ul>
  {% for phone in person.phones %}
    <li>{{ phone.number }} ({{ phone.phone_type }}) <a rel="inline-edit" href="/api/phones/{{ phone.key() }}/edit/">edit</a></li>
  {% endfor %}
  </ul>

  <ul>
  {% for address in person.addresses %}
    <li>{{ address.full_address }} ({{ address.address_type }}) <a rel="inline-edit" href="/api/addresses/{{ address.key() }}/edit/">edit</a></li>
  {% endfor %}
  </ul>


{% endblock %}

