{% extends "admin/edit.html" %}


{% block form_action %}/api/news/{{ news.key() }}/edit/{% endblock %}

{% block form_fields %}
  <label for="title">
    <span class="prefix">title</span>
    <input type="text" name="title" value="{{ news.title }}" />
    <span class="suffix"></span>
  </label>

  <label for="content">
    <span class="prefix">content</span>
    <textarea name="content" cols="70" rows="20">{{ news.content }}</textarea>
    <span class="suffix"></span>
  </label>
{% endblock %}

