@import base.sass

body
  :background-color= !color_bg_purple
  :font-family= !font_stack_verdana

a
  :text-decoration none
  :color #5a0000

a:hover
  :color #880000
  //:font-weight bold

//nav:hover
  :margin-top 0px
h1
  :font-family= !font_stack_georgia
  :font-weight normal
  :line-height 1.4
  :font-size 2.4em
  :color rgba(100, 0, 0, 0.8)
  :text-shadow 2px 2px 2px #fff
h2
  :font-family= !font_stack_helvetica
  :font-weight bold
  :line-height 1.4
  :font-size 1.2em
  :color rgba(139, 11, 0, 0.8)
  :text-shadow 1px 1px 2px #fff
p
  :font-weight normal

iframe
  :margin 10px

nav
  :overflow hidden
  :position fixed
  :width 100%
  :top -200px
  :z-index 20000
  //:margin-top -250px
  > div
    > ul.panes
      :background-color= !color_nav_link_bg
      :max-height 200px
      :height 200px
      :background-color rgba(0, 0, 0, 0.93)
      > li
        :display none
        :color #fff
        > ul
          +grid-container
          > li
            +grid(2, 12)
            :background-color rgba(255, 255, 255, 0.1)
            :padding 10px
            +border-bottom-left-radius(10px)
            +border-bottom-right-radius(10px)
            h1
              :font-size 1.2em
              :text-shadow 0px 1px 1px #000
              :color #fde310
              :font-family= !font_stack_helvetica
            p
              :font-size 0.8em
              :margin-bottom 0.6em
              :color #b5b5b5
              :color rgba(255, 255, 255, 0.8)
  > div.handle
    :background= !color_nav_bg_rgba !url_nav_bg "repeat-x scroll 0 0"
    :min-height 38px
    > div
      +grid-container
      > ul
        :float right
        > li
          +display-inline-block
          //:float right
          :margin-right 10px
          a:link, a:visited
            //:font-variant small-caps
            //:font-weight bold
            //:letter-spacing 0.2em
            :font-size 0.9em
            :background-color= !color_nav_link_bg
            :background-color= !color_nav_link_bg_rgba
            :color= !color_nav_link
            :padding 6px 15px 0px 15px
            :margin-bottom 10px
            :height 22px
            :display block
            -webkit-transition: background-color 0.3s linear
            +border-bottom-left-radius(10px)
            +border-bottom-right-radius(10px)
          a:hover, a:visited:hover
            :color= !color_nav_link_hover
            :background-color= !color_nav_link_hover_bg
            :background-color= !color_nav_link_hover_bg_rgba

section
  :background= "transparent" !url_header_bg "no-repeat scroll 0 0"
  +grid-container
  :min-height 400px
  >header
    >div
      :padding 80px 0px 40px 0px
      >h1
        :color #f8e430
        :text-shadow none
        :font-weight bold
        :font-family= !font_stack_verdana
        :letter-spacing -0.05em
        :line-height 1.4em
        >span
          :color white
          :font-size 1.8em
          :letter-spacing -0.08em
          //:text-shadow none
          :display block
          :font-family= !font_stack_verdana
          :font-weight normal

  article
    :margin 0px auto 20px auto
    :background-color rgba(255, 255, 255, 0.65)
    +border-radius(10px)
    :border 1px solid #ffffff
  article#trunk
    :width 80%
    :height 475px


#news_ticker
  :width 80%
  p
    :padding 5px 15px
    :font-size 0.9em
    a#news_headline
      :font-weight bold
      :margin-right 10px
    a#news_item
      :margin-left 10px

#introduction_tabs
  >li
    +display-inline-block
    :padding 20px
    >a
      :color white
      :font-weight bold
      :font-family Lucida Grande, Helvetica Nue
      +awesome-button(!color_awesome_gray_dark, 5px 10px, 25px)
    a:hover
      +awesome-button(!color_awesome_gray, 5px 10px, 25px)
    a.current:hover
      +awesome-button(!color_awesome_red, 5px 10px, 25px)
    a.current
      +awesome-button(!color_awesome_red_dark, 5px 10px, 25px)

#introduction_panes
  > li
    :display none
    :margin-left 20px

//.flow_panes
//  :position relative
//  :clear both
//  :overflow hidden
//  .flow_items
//    :width 20000px
//    :clear both
//    :margin 0
//    :padding 0
//    div
//      :float left
//      :display block
//      :width 650px
//      :padding 0px 60px

#our_recruiters
  ul
    li
      +display-inline-block
      :margin 0px 15px 0px 0px
      :max-width 140px
      :height 162px
      :background transparent url("../image/img_shadow.png") scroll no-repeat bottom left
      a
        :display block
        :width 140px
        :height 140px
        :border-left 0px solid white
        :border-right 0px solid white

        :background white url("../image/recruiter_logos.jpg") scroll no-repeat 0 0
      #accenture
        :background-position 0px 0px
      #asian-paints
        :background-position -140px 0px
      #astrazeneca
        :background-position -280px 0px
      #bennett-coleman
        :background-position -420px 0px
      #bpcl
        :background-position -560px 0px
      #cadbury
        :background-position -700px 0px
      #citibank
        :background-position -840px 0px
      #coca-cola
        :background-position -980px 0px
      #colgate-palmolive
        :background-position -1120px 0px
      #countrywide-finances
        :background-position -1260px 0px
      #deutsche-bank
        :background-position -1400px 0px
      #dr-reddy
        :background-position -1540px 0px
      #ernst-young
        :background-position -1680px 0px
      #fidelity
        :background-position -1820px 0px
      #firstsource
        :background-position -1960px 0px
      #ge-shipping
        :background-position -2100px 0px
      #google
        :background-position -2240px 0px
      #hindustan-unilever
        :background-position -2380px 0px
      #honeywell
        :background-position -2520px 0px
      #hpcl
        :background-position -2660px 0px
      #hsbc
        :background-position -2800px 0px
      #ibm
        :background-position -2940px 0px
      #icici-prudential
        :background-position -3080px 0px
      #intel
        :background-position -3220px 0px
      #johnson-and-johnson
        :background-position -3360px 0px
      #jp-morgan-chase
        :background-position -3500px 0px
      #kpmg
        :background-position -3640px 0px
      #mahindra
        :background-position -3780px 0px
      #marico
        :background-position -3920px 0px
      #mercer
        :background-position -4060px 0px
      #microsoft
        :background-position -4200px 0px
      #motorola
        :background-position -4340px 0px
      #nestle
        :background-position -4480px 0px
      #nokia
        :background-position -4620px 0px
      #novartis
        :background-position -4760px 0px
      #oracle
        :background-position -4900px 0px
      #patni
        :background-position -5040px 0px
      #pepsi
        :background-position -5180px 0px
      #pfizer
        :background-position -5320px 0px
      #procter-and-gamble
        :background-position -5460px 0px
      #pwc
        :background-position -5600px 0px
      #ranbaxy
        :background-position -5740px 0px
      #rpg
        :background-position -5880px 0px
      #sap
        :background-position -6020px 0px
      #siemens-india
        :background-position -6160px 0px
      #standard-chartered
        :background-position -6300px 0px
      #sterlite
        :background-position -6440px 0px
      #taj
        :background-position -6580px 0px
      #tata
        :background-position -6720px 0px
      #wipro
        :background-position -6860px 0px
      #yahoo
        :background-position -7000px 0px

#how_to_join
  ul
    li
      :width 200px
      +display-inline-block
      :padding 8px
      :vertical-align top
      h1
        :font-size 6.2em
        :line-height 1.1
      h2
        :font-size 2em
      p
        :color #222
        :font-size 0.9em
        :line-height 1.4em
        :padding-right 20px
        //:font-family Lucida Grande Helvetica Nue

#separator
  :background= "transparent" url("../image/background/separator.png") "repeat-x scroll 0 0"
  :height 120px
  :width 100%
  :position absolute
  :top 392px

#logo
  :background= "transparent" !url_logo_shield_small "no-repeat scroll 0 0"
  :display block
  :width 50px
  :height 63px
  :float left


#home
  :background= "transparent" !url_logo_small "no-repeat scroll 0 0"
  :display block
  :margin-top 5px
  :width 69px
  :height 28px
  :float left
footer
  :background= "transparent" !url_footer_bg "repeat-x scroll 0 0"
  :height 200px
  :width 100%
  :margin-top 50px
  >div
    +grid-container

#menu
  //:padding 15px
  :overflow auto
  :width 720px
  :float left
  li
    :float left
    //+display-inline-block
    :width 100px
    :margin-right 20px
    h1
      :color #efefef
      :font-size 0.9em
      :text-shadow none
      :font-weight bold
    ul
      li
        :font-size 0.8em
        :margin-top 5px
        a
          :color #a3a3a3
        a:hover
          :color #FF7F24
#subscribe
  :position relative
  :top -15px
  :width 300px
  :left 650px
  input[type="submit"]
    +awesome-button(!color_awesome_green, 5px 10px, 25px)
    :margin-left -25px
  input[type="text"]
    :background-color white
    +border-radius(25px)
    :padding 4px 10px
    :color #555

#contact_us
  :background= "transparent" !url_contact_us "no-repeat scroll 0 0"
  :display block
  :width 128px
  :height 128px
  :margin-right 105px
  :float right


// Recruiters Page Scroll //
.browse
  :float left
  +awesome-button(!color_awesome_white, 5px 10px, 25px)
  :font-size 28px
  :height 32px
  :color #a5a5a5
  :margin-top -32px

.left
  :position relative
  :top 50%
  :left -20px

.right
  :position relative
  :top 50%
  :left 705px

.scrollable
  :position relative
  :overflow hidden
  :width 620px
  :margin 80px
  :height 325px
  .scrollable_items
    :position absolute
    :width 4050px

// Contact us Page //
#contactus_form
  :width 200px
  :padding 20px
  :margin 10px

#address
  :width 300px
  :margin 5px
  p
    :margin 1em auto
  a
    :text-decoration underline

