{% extends "base.html" %}

{% block tag_body_class %}alumni{% endblock %}

{% block tag_trunk %}

<section>
  <header>
    <div>
      <h1>Our Alumni. <span>Cr&egrave;me de la cr&egrave;me.</span></h1>
    </div>
  </header>
  <article>
    #*<ul id="alumni_achievers">
      <li>
        <span><img src="{{ MEDIA_URL }}image/alumni/adil_malia.jpg" alt="Adil Malia" width="200px" height="200px" /></span>
        <h1>Adil Malia</h1>
        <h2>President Human Resources, Essar Group.</h2>
      </li>
      <li>
        <span><img src="{{ MEDIA_URL }}image/alumni/maitra.jpg" alt="Mandip Maitra" width="200px" height="200px" /></span>
        <h1>Mandip Maitra</h1>
        <h2>Head Human Resources, HDFC Bank.</h2>
      </li> 
      <li>
        <span><img src="{{ MEDIA_URL }}image/alumni/makarand_khatavkar.jpg" alt="Makarand Khatavkar" width="200px" height="200px" /></span>
        <h1>Makarand Khatavkar</h1>
        <h2>Managing Director and Head Human Resources, Duetsche Bank.</h2>
      </li> 
      <li>
        <span><img src="{{ MEDIA_URL }}image/alumni/santrupt.jpg" alt="Santrupt Mishra" width="200px" height="200px" /></span>
        <h1>Santrupt Mishra</h1>
        <h2>Director, Aditya Birla Group.</h2>
      </li>       
    </ul>*#
    <p>Over the years many of our distinguished alumni have soared the heights of success, inspiring batches to come. Some of our illustrious alumni include -</p>
    <ul id="people_names_designations">
      <li>Adil Malia<span> President HR, Essar Group</span></li>
      <li>Allen Sequeira<span> Sr. VP HR, Mahindra &amp; Mahindra</span></li>
      <li>Alok Mehta <span>VP HR, AstraZeneca(India)</span></li>
      <li>Ashu Chopra<span> VP HR, Firstsource</span></li>
      <li>Debashish Roy<span> VP HR, Colgate Palmolive</span></li>
      <li>Inder Walia<span> Director Group HR, Bharti Group</span></li>
      <li>Nalin Garg<span> VP HR, Coca Cola India</span></li>
      <li>Mohit Nagrath<span> Global Chief People Officer, P&amp;G</span></li>
      <li>Mandip Maitra<span> Head HR, HDFC Bank</span></li>
      <li>Pramod Sadarjoshi<span> Executive Director, IDBI Bank</span></li>
      <li>Pranesh Anthapur<span> COO, Yahoo</span></li>
      <li>Santrupt Mishra<span> Director, Aditya Birla Group</span></li>
      <li>Shrihari Udupa<span> Chief People Officer, PWC India</span></li>
      <li>Suchismita Burman<span> Director HR, AOL</span></li>
      <li>Uday Mohan<span> Head HR, Pfizer</span></li>
      <li>Ulhas Deshpande<span> CEO, Intellecash at Intellcap</span></li>
      <li>Suvamoy Roy Choudhury<span> Regional HR Director South Asia, Reckitt Benckiser</span></li>
      <li>Swadesh Behera<span> Director HR, MSD Pharmaceuticals (an affiliate of Merck &amp; Co.)</span></li>
      <li>Makrand Khatavkar<span> Managing Director, &amp; Head HR, Deutsche Bank</span></li>
    </ul>
  </article>
</section>

{% endblock %}
{% block tag_scripts %}
<script type="text/javascript">
window.scripts.push("{{ MEDIA_URL }}script/page/achievement{{ MINIFIED }}.js");
</script>
{% endblock %}
