{% extends "base_site.html" %}

{% block tag_head %}
	{% block tag_stylesheets %}
	    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/screen-min.css" media="screen, projection" charset="utf-8" />
	    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/facebox/facebox.css" media="screen, projection" charset="utf-8" />
	{% endblock %}

	{% block tag_additional_stylesheets %}{% endblock %}

    {% block ie_head_includes %}
    <!--[if IE 7]>
	    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie7.css" type="text/css" media="screen" charset="utf-8" />
    <![endif]-->
	  <!--[if IE 8]>
	    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie8.css" type="text/css" media="screen" charset="utf-8" />
    <![endif]-->
    <!--[if lt IE 7]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
    <![endif]-->
    {% endblock %}
{% endblock %}

{% block tag_body %}
    {% block tag_header %}
<nav>
    <div>
        <ul class="panes">
            <li id="pane_students">
                <ul>
                    <li>
                        <h1>Profiles</h1>
                        <p>Our students are some of the best in class.</p>
                    </li>
                    <li>
                        <h1>Committees</h1>
                        <p>Watch the committees in action.</p>
                    </li>
                </ul>
            </li>
            <li id="pane_alumni">
                <ul>
                    <li>
                        <a href="/alumni/achievements"><h1>Achievements</h1></a>
                        <p>We are impatient chaps, keep achieving a lot.</p>
                    </li>
                    <li>
                        <a href="/alumni/event"><h1>Events</h1></a>
                        <p>Some nostalgic moments.</p>
                    </li>
                    <li>
                        <a href="/alumni/gallery"><h1>Gallery</h1></a>
                        <p>A sneak peak into our events.</p>
                    </li>
                    <li>
                        <a href="/alumni/job_board"><h1>Job Board</h1></a>
                        <p>Where jobs are written.</p>
                    </li>
                </ul>
            </li>
            <li id="pane_faculty">
                <ul>
                    <li>
                        <h1>Profiles</h1>
                        <p>Faculty members that make a difference.</p>
                    </li>
                    <li>
                        <h1>Research & Publications</h1>
                        <p>Search through the research our faculty are involved into.</p>
                    </li>
                    <li>
                        <h1>Working Papers & Cases</h1>
                        <p>Know what our faculty is currently working on.</p>
                    </li>
                </ul>
            </li>
            <li id="pane_placements">
                <ul>
                    <li>
                        <a href="/placements/recruiters"><h1>Recruiters</h1></a>
                        <p>Some of the esteemed companies that believe in us.</p>
                    </li>
                    <li>
                        <a href="/placements/reports"><h1>Reports</h1></a>
                        <p>Summer and winter placement reports.</p>
                    </li>
                    <li>
                        <a href="/placements/students_profiles"><h1>Student Profiles</h1></a>
                        <p>Our students are some of the best in class.</p>
                    </li>
                    <li>
                        <a href="/placements/differential_learning"><h1>Differential Learning </h1></a>
                        <p>Field work: learning practically not by rote</p>
                    </li>
                </ul>
            </li>
            <li id="pane_tattva_bodha">
                <ul>
                    <li>
                        <h1>Gallery</h1>
                        <p>Snapshots of the past events.</p>
                    </li>
                    <li>
                        <h1>Agenda</h1>
                        <p>Schedule of the Event</p>
                    </li>
                </ul>
            </li>
            <li id="pane_forum">
                <ul>
                    <li>
                        <a href="/forum/indrel"><h1>INDREL</h1></a>
                        <p>Industrial Relation</p>
                    </li>
                    <li>
                        <a href="/forum/trndev"><h1>TRNDEV</h1></a>
                        <p>Training & Development</p>
                    </li>
                    <li>
                        <a href="/forum/comben"><h1>COMBEN</h1></a>
                        <p>Compensation & Benefits</p>
                    </li>
                    <li>
                        <a href="/forum/hipms"><h1>HIPMS</h1></a>
                        <p>Performance Management System</p>
                    </li>
                    <li>
                        <a href="/forum/oddev"><h1>ODDEV</h1></a>
                        <p>Organization Development</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="handle"><div>
        {% block tag_link_home %}<a href="/" id="logo"></a>{% endblock %}
        <a href="/" id="home"></a>
        <ul>
            <li><a href="#pane_students">students</a></li>
            <li><a href="#pane_alumni">alumni</a></li>
            <li><a href="#pane_faculty">faculty</a></li>
            <li><a href="#pane_placements">placements</a></li>
            <li><a href="#pane_tattva_bodha">tattva bodha</a></li>
            <li><a href="#pane_forum">forum</a></li>
            <li><form><input type="search" name="query" value="" /></form></li>
        </ul>
</div></div>
</nav>
{% endblock %}

    {% block tag_trunk %}{% endblock %}
    {% block tag_footer %}
    <footer>
      <div id="footer_inner">
        <form id="subscribe">
          <label>
            <input type="text" value="your@email.com" />
            <input type="submit" value="Subscribe" />
          </label>
        </form>
        <ul id="menu">
          <li>
            <h1>Students</h1>
            <ul>
              <li><a href="#">Profiles</a></li>
              <li><a href="#">Committees</a></li>
            </ul>
          </li>
          <li>
            <h1>Alumni</h1>
            <ul>
              <li><a href="/alumni/achievements">Achievements</a></li>
              <li><a href="/alumni/event">Events</a></li>
              <li><a href="/alumni/gallery">Gallery</a></li>
              <li><a href="/alumni/job_board">Job Board</a></li>
            </ul>
          </li>
          <li>
            <h1>Faculty</h1>
            <ul>
              <li><a href="#">Profiles</a></li>
              <li><a href="#">Research & Publications</a></li>
              <li><a href="#">Working Papers & Cases</a></li>
            </ul>
          </li>
          <li>
            <h1>Placements</h1>
            <ul>
              <li><a href="/placements/recruiters">Recruiters</a></li>
              <li><a href="#">Reports</a></li>
              <li><a href="#">Student Profiles</a></li>
              <li><a href="#">Differential Learning</a></li>
            </ul>
          </li>
          <li>
            <h1>Tattva Bodha</h1>
            <ul>
              <li><a href="#">Gallery</a></li>
              <li><a href="#">Agenda</a></li>
            </ul>
          </li>
          <li>
            <h1>Forum</h1>
            <ul>
              <li><a href="/forum/indrel">INDREL</a></li>
              <li><a href="/forum/trndev">TRNDEV</a></li>
              <li><a href="/forum/comben">COMBEN</a></li>
              <li><a href="/forum/hipms">HIPMS</a></li>
              <li><a href="/forum/oddev">ODDEV</a></li>
            </ul>
          </li>
        </ul>
        <a href="/contactus" id="contact_us" title="Reach us"></a>
        <div id="contact_us_content">
        </div>
      </div>
    </footer>
    {% endblock %}
{% endblock %}
{% block tag_scripts_base %}
<script type="text/javascript">
  window.scripts.push(
    "{{ MEDIA_URL }}script/common{{ MINIFIED }}.js"
  );
</script>
{% endblock %}

