{% extends "base_site.html" %}

{% block tag_head %}
	{% block tag_stylesheets %}
	    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/screen-min.css" media="screen, projection" charset="utf-8" />
	{% endblock %}

	{% block tag_additional_stylesheets %}{% endblock %}

    {% block ie_head_includes %}
    <!--[if IE 7]>
	    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie7.css" type="text/css" media="screen" charset="utf-8" />
    <![endif]-->
	<!--[if IE 8]>
	    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie8.css" type="text/css" media="screen" charset="utf-8" />
    <![endif]-->
    <!--[if lt IE 7]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
    <![endif]-->
    {% endblock %}
{% endblock %}

{% block tag_body %}
    {% block tag_header %}{% endblock %}
    {% block tag_trunk %}{% endblock %}
    {% block tag_footer %}
    <footer>
    </footer>
    {% endblock %}
{% endblock %}

