{% extends "base_site.html" %}

{% block tag_head %}
	{% block tag_stylesheets %}
	    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/screen-all{{ CSS_MINIFIED }}.css" media="screen, projection" charset="utf-8" />
	{% endblock %}

	{% block tag_additional_stylesheets %}{% endblock %}

    {% block ie_head_includes %}
    <!--[if IE 7]>
	    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie7.css" type="text/css" media="screen" charset="utf-8" />
    <![endif]-->
	  <!--[if IE 8]>
	    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie8.css" type="text/css" media="screen" charset="utf-8" />
    <![endif]-->
    <!--[if lt IE 7]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js" type="text/javascript"></script>
    <![endif]-->
    {% endblock %}
{% endblock %}

{% block tag_body %}
    {% block tag_header %}
<nav>
    <div>
        <ul class="panes">
            <li id="pane_students">
                <ul>
                    <li>
                        <h1><a href="/profile/students">Profiles</a></h1>
                        <p>Our students are some of the best in class.</p>
                    </li>
                    <li>
                        <h1><a href="/students/committees">Committees</a></h1>
                        <p>Watch the committees in action.</p>
                    </li>
                </ul>
            </li>
            <li id="pane_alumni">
                <ul>
                    <li>
                        <h1><a href="/alumni/achievements">Achievements</a></h1>
                        <p>We are impatient chaps, keep achieving a lot.</p>
                    </li>
                    <li>
                        <h1><a href="/alumni/events">Events</a></h1>
                        <p>Some nostalgic moments.</p>
                    </li>
                    <li>
                        <h1><a href="/alumni/gallery">Gallery</a></h1>
                        <p>A sneak peak into our events.</p>
                    </li>
                    <li>
                        <h1><a href="/alumni/jobs">Jobs</a></h1>
                        <p>Post jobs and view existing ones.</p>
                    </li>
                </ul>
            </li>
            <li id="pane_faculty">
                <ul>
                    <li>
                        <h1><a href="/profile/faculty">Profiles</a></h1>
                        <p>Faculty members that make a difference.</p>
                    </li>
                    <li>
                        <h1><a href="/faculty/research">Research & Publications</a></h1>
                        <p>Search through the research our faculty are involved into.</p>
                    </li>
                    <li>
                        <h1><a href="/faculty/working_papers">Working Papers & Cases</a></h1>
                        <p>Know what our faculty is currently working on.</p>
                    </li>
                </ul>
            </li>
            <li id="pane_placements">
                <ul>
                    <li>
                        <h1><a href="/placements/recruiters">Recruiters</a></h1>
                        <p>Some of the esteemed companies that believe in us.</p>
                    </li>
                    <li>
                        <h1><a href="/placements/reports">Reports</a></h1>
                        <p>Summer and winter placement reports.</p>
                    </li>
                    <li>
                        <h1><a href="/placements/students_profiles">Student Profiles</a></h1>
                        <p>Our students are some of the best in class.</p>
                    </li>
                    <li>
                        <h1><a href="/placements/differential_learning">Differential Learning </a></h1>
                        <p>Field work: learning practically not by rote</p>
                    </li>
                </ul>
            </li>
            <li id="pane_tattva_bodha">
                <ul>
                    <li>
                        <h1><a href="/tatvabodha/agenda">Agenda</a></h1>
                        <p>Schedule of the Event</p>
                    </li>
                </ul>
            </li>
            <li id="pane_forum">
                <ul>
                    <li>
                        <h1><a href="/forum/indrel">INDREL</a></h1>
                        <p>Industrial Relation</p>
                    </li>
                    <li>
                        <h1><a href="/forum/trndev">TRNDEV</a></h1>
                        <p>Training & Development</p>
                    </li>
                    <li>
                        <h1><a href="/forum/comben">COMBEN</a></h1>
                        <p>Compensation & Benefits</p>
                    </li>
                    <li>
                        <h1><a href="/forum/hipms">HIPMS</a></h1>
                        <p>Performance Management System</p>
                    </li>
                    <li>
                        <h1><a href="/forum/oddev">ODDEV</a></h1>
                        <p>Organization Development</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="handle"><div>
        {% block tag_link_home %}<a href="/" id="logo"></a>{% endblock %}
        <a href="/" id="home"></a>
        <ul>
            <li><a href="#pane_students">students</a></li>
            <li><a href="#pane_alumni">alumni</a></li>
            <li><a href="#pane_faculty">faculty</a></li>
            <li><a href="#pane_placements">placements</a></li>
            <li><a href="#pane_tattva_bodha">tattva bodha</a></li>
            <li><a href="#pane_forum">forum</a></li>
            <li><form><input type="search" name="query" value="" /></form></li>
        </ul>
    </div></div>
    {% if logout_url %}
      <a href="{% block logout_url %}{{ logout_url }}{% endblock %}" id="logout">Sign out</a>
    {% else %}
      {% if login_url %}
        <a href="{% block login_url %}{{ login_url }}{% endblock %}" id="login">Sign in</a>
      {% endif %}
    {% endif %}
</nav>
{% endblock %}

    {% block tag_trunk %}{% endblock %}
    {% block tag_footer %}
    <footer>
      <div id="footer_inner">
        <form id="subscribe">
          <label>
            <input type="text" value="your@email.com" />
            <input type="submit" value="Subscribe to News" />
          </label>
        </form>
        <ul id="menu">
          <li>
            <h1>Students</h1>
            <ul>
              <li><a href="#">Profiles</a></li>
              <li><a href="/students/committees">Committees</a></li>
            </ul>
          </li>
          <li>
            <h1>Alumni</h1>
            <ul>
              <li><a href="/alumni/achievements">Achievements</a></li>
              <li><a href="/alumni/events">Events</a></li>
              <li><a href="/alumni/gallery">Gallery</a></li>
              <li><a href="/alumni/job_board">Job Board</a></li>
            </ul>
          </li>
          <li>
            <h1>Faculty</h1>
            <ul>
              <li><a href="/faculty/profiles">Profiles</a></li>
              <li><a href="/faculty/research">Research & Publications</a></li>
              <li><a href="/faculty/working_papers">Working Papers & Cases</a></li>
            </ul>
          </li>
          <li>
            <h1>Placements</h1>
            <ul>
              <li><a href="/placements/recruiters">Recruiters</a></li>
              <li><a href="/placements/reports">Reports</a></li>
              <li><a href="/placements/students_profiles">Student Profiles</a></li>
              <li><a href="/placements/differential_learning">Differential Learning</a></li>
            </ul>
          </li>
          <li>
            <h1>Tattva Bodha</h1>
            <ul>
              <li><a href="/tatvabodha/agenda">Agenda</a></li>
            </ul>
          </li>
          <li>
            <h1>Forum</h1>
            <ul>
              <li><a href="/forum/indrel">INDREL</a></li>
              <li><a href="/forum/trndev">TRNDEV</a></li>
              <li><a href="/forum/comben">COMBEN</a></li>
              <li><a href="/forum/hipms">HIPMS</a></li>
              <li><a href="/forum/oddev">ODDEV</a></li>
            </ul>
          </li>
        </ul>
        <a href="" id="contact_us" title="Contact us at: Sion Trombay Road, Deonar, Mumbai - (022)25525500"></a>
        <ul id="copyright">
          <li>
            Content Copyright &copy; 2009
            <a href="/"> TISS Human Resources Management &amp; Labour Relations</a>.
          </li>
          <li>Portions Copyright &copy; 2009 <a href="http://www.happychickoo.com">HappyChickoo</a>.</li>
          <li>Designed and Developed by <a href="http://www.happychickoo.com">HappyChickoo</a>.</li>
        </ul>
      </div>
    </footer>
    {% endblock %}
    {% block tag_google_talk %}
    <div id="google_talk_wrapper">
      <p>Google Talk <a href="#google_talk">_</a></p>
      <iframe id="google_talk" src="http://talkgadget.google.com/talkgadget/client?{{ GOOGLE_TALK_STYLESHEET|urlencode }}"
scrolling="no" frameborder="0"></iframe>
    </div>
    {% endblock %}
{% endblock %}


{% block tag_scripts_base %}
<script type="text/javascript">
  window.scripts.push(
  {% if LOCAL %}
  "{{ MEDIA_URL }}script/lib/chickoojs/src/jquery/tools/1.1.2/jquery.tools.min.js",
  {% else %}
  "http://cdn.jquerytools.org/1.1.2/full/jquery.tools.min.js",
  {% endif %}
  "{{ MEDIA_URL }}script/page/base{{ JS_MINIFIED }}.js",
  "{{ MEDIA_URL }}script/page/contact_us{{ JS_MINIFIED }}.js"
  );
</script>
{% endblock %}

