{% extends "base.html" %}

{% block tag_trunk %}
<section>
  <header>
    <div>
      <h1>Reach Us <span>We're just a phone call away.</span></h1>
    </div>
  </header>
  <article id="trunk">
    <form id="contactus_form">
      <label>Name
        <input type="text" />
      </label>
      <label>Email
        <input type="text" />
      </label>
      <label>Message
        <textarea cols="23"></textarea>
      </label>
    </form>
    <div id="address">
        <h2>Contact Us</h2>
        <h3>TISS</h3>      
        <address>V N Purav Marg,
           Sion Trombay road,
           Opp. Deonar Bus Depot,
           Deonar, Mumabai-88,
           Maharashtra, India
        </address>
        <p>
           (+91)22 25561548,
        </p>
        <p>
           (+91)22 255075486 
        </p>
        <p>
          <a href="mailto: info@tisshrmlr.com">info@tisshrmlr.com</a>
        </p>
    </div>
  </article>
</section>
{% endblock %}
