{% extends "base.html" %}

{% block tag_trunk %}
<section>
  <header>
    <div>
      <h1>Reach Us <span>We're just a phone call away.</span></h1>
    </div>
  </header>
  <article>
    <form id="contactus_form" class="decorated-fields table">
      <label for="full_name">
        <span class="prefix">Name</span>
        <input type="text" name="full_name" value=""/>
        <span class="suffix"></span>
      </label>
      <label for="email">
        <span class="prefix">Email</span>
        <input type="text" name="email" value="" />
        <span class="suffix"></span>
      </label>
      <label for="message">
        <span class="prefix">Message</span>
        <textarea cols="50" rows="10" name="message"></textarea>
        <span class="suffix"></span>
      </label>
      <label for="submit">
        <span class="prefix"></span>
        <input type="submit" name="submit" value="Send Message" />
        <span class="suffix"></span>
      </label>
    </form>
    <div id="address">
        <h2>Contact Us</h2>
        <h3>TISS</h3>      
        <address>V N Purav Marg,
           Sion Trombay road,
           Opp. Deonar Bus Depot,
           Deonar, Mumabai-88,
           Maharashtra, India
        </address>
        <p>
           (+91)22 25561548,
        </p>
        <p>
           (+91)22 255075486 
        </p>
        <p>
          <a href="mailto: info@tisshrmlr.com">info@tisshrmlr.com</a>
        </p>
    </div>
  </article>
</section>
{% endblock %}
