{% extends "base.html" %}

{% block tag_trunk %}
<section>
  <header>
    <div>
      <h1>Differential Learning<span> Fieldwork</span></h1>
    </div>
  </header>
  <ul id="fieldwork">
    <li><a href="#fieldwork_pane">Fieldwork</a></li>
    <li><a href="#key_facts">Key Facts</a></li>
    <li><a href="#fieldwork_organizations">Fieldwork Organizations</a></li>
  </ul>
  <article>
    <ul id="panes">
      <li id="fieldwork_pane">
        <p>The Fieldwork programme is an integral part of the HRM &amp; LR curriculum and provides
opportunities for students to reflect, apply and integrate acquired skills to work situations in
organizations. It thereby serves as an interface between theory and practice.</p>
        <p>The HRM &amp; LR students are placed in four different organizations, representing different
industry sectors, during the two year duration of their programme. The fieldwork programme
comprises of the following -</p>
        <ol>
          <li>Concurrent placement - In the first three semesters, students attend fieldwork in three
different organizations, twice a week</li>
          <li>Corporate block placement - In the final semester, students undertake a month long block
fieldwork placement in an organization</li>
          <li>NGO block placement - At the end of the fourth semester, the students work in a
Non governmental organization for one month</li>
        </ol>
      </li>
      <li id="key_facts">
        <p>The programme is overseen by the Dean of the School of Management and Labour Studies and by the School Board. Currently, the school deals with more than 100 organizations with respect to fieldwork. The fieldwork curriculum and practice is regularly
revised and timely inputs are solicited from industry experts.</p>
        <p>The students are expected to record their learnings and to compare actual business practices with theory. Focus group discussions as well as individualized feedback sessions are conducted on a weekly basis with a faculty mentor.</p>
      </li>
      <li id="fieldwork_organizations">
        <ul>
          <li>Banking, Financial Services and Insurance (BFSI)
            <ul>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/bfsi/abn-amro.jpg" title="ABN-AMRO" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/bfsi/citi-bank.jpg" title="Citi Bank" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/bfsi/deustch-bank.jpg" title="Deustch Bank" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/bfsi/nse.jpg" title="NSE" width="96" height="96" /></li>
            </ul>
          </li>
          <li>Fast Moving Consumer Goods (FMCG)
            <ul>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/fmcg/g-mills.jpg" title="G mills" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/fmcg/godrej.jpg" title="Godrej" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/fmcg/hindustan-unilever.jpg" title="Hindustan Uniliver" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/fmcg/jhonson-and-jonhson.jpg" title="Johnson & johnson" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/fmcg/loreal.jpg" title="ABN-AMRO" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/fmcg/pepsico.jpg" title="ABN-AMRO" width="96" height="96" /></li>
            </ul>
          </li>
          <li>Pharma/Healthcare/Biotech
            <ul>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/pharma/glenmark.jpg" title="Glenmark" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/pharma/monsanto.jpg" title="Monsanto" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/pharma/nestle.jpg" title="Nestle" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/pharma/sanofi-aventis.jpg" title="Sanofi-aventis" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/pharma/schering-plough.jpg" title="Schering-plough" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/pharma/ucb.jpg" title="ucb" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/pharma/wyeth.jpg" title="Wyeth" width="96" height="96" /></li>
            </ul>
          </li>
          <li>IT/ITES/Telecom
           <ul>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/IT/accenture.jpg" title="Accenture" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/IT/first-source.jpg" title="First-source" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/IT/ibm.jpg" title="IBM" width="96" height="96" /></li>
            </ul>
          </li>
          <li>Services
          <ul>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/services/McDonalds.jpg" title="McDonalds" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/services/pantaloons-retail.jpg" title="Pantaloons-retail" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/services/taj-hotels.jpg" title="Taj-hotels" width="96" height="96" /></li>
            </ul>
           </li>
          <li>Media and Entertainment
           <ul>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/media/inx-media.jpg" title="Inx-media" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/media/radio-mirchi.jpg" title="Radio-mirchi" width="96" height="96" /></li>
            </ul>
          </li>
          <li>Manufacturing/Oil &amp; Natural Gas
          <ul>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/oil_and_natural_gas/akzonobel.jpg" title="Akzonobel" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/oil_and_natural_gas/asian-paints.jpg" title="Asian-paints" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/oil_and_natural_gas/bpcl.jpg" title="BPCL" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/oil_and_natural_gas/crompton-greaves.jpg" title="Crompton-Greaves" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/oil_and_natural_gas/shell.jpg" title="Shell" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/oil_and_natural_gas/tata-motors.jpg" title="Tata-motors" width="96" height="96" /></li>           <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/oil_and_natural_gas/tata-power.jpg" title="Tata-power" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/oil_and_natural_gas/tata-steel.jpg" title="Tata-steel" width="96" height="96" /></li>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/oil_and_natural_gas/unitech.jpg" title="Unitech" width="96" height="96" /></li>
            </ul>
          </li>
          <li>Consulting
            <ul>
              <li><img src="{{ MEDIA_URL }}image/fieldwork_organizations/consulting/ddi.jpg"</li>

            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </article>
</section>
{% endblock %}

{% block tag_scripts_base %}
<script type="text/javascript">
  window.scripts.push(
    "{{ MEDIA_URL }}script/common{{ MINIFIED }}.js"
  );
</script>
{% endblock %}

