{% extends "base.html" %}

{% block tag_trunk %}
<section>
  <header>
    <div>
      <h1>Differential Learning<span> Fieldwork</span></h1>
    </div>
  </header>


  <ul id="transparent_tabs">
    <li><a href="#fieldwork_pane">Fieldwork</a></li>    
    <li><a href="#fieldwork_organizations">Fieldwork Organizations</a></li>
  </ul>
  <article>
    <ul id="panes">
      <li id="fieldwork_pane">
        <h1>Practice what you learn.</h1>
        <p>The Fieldwork programme provides opportunities for students to reflect, apply and integrate acquired skills to work situations in
organizations. Students are placed in four different organizations, representing different industry sectors, during the two year duration of their programme.</p>        
        <p>The programme is overseen by the Dean and by the School Board. Currently, the school deals with more than 100 organizations with respect to fieldwork.</p>
        <p>The students are expected to record their learnings and to compare actual business practices with theory. Focus group discussions as well as individualized feedback sessions are conducted on a weekly basis with a faculty mentor.</p>
        <ul id="placement_type">
          <li>
            <h2>Concurrent placement</h2>
            <p>In the first three semesters, students attend fieldwork in three different organizations, twice a week.</p>
            <img src="{{ MEDIA_URL }}image/icon/concurrent_block_placement.png" width="169px" height="167px" />
          </li>
          <li>
            <h2>Corporate block placement</h2>
            <p>In the final semester, students undertake a month long block fieldwork placement in an organization</p>
            <img src="{{ MEDIA_URL }}image/icon/corporate_block_placement.png" width="158px" height="120px" />
          </li>
          <li>
            <h2>NGO block placement</h2>
            <p>At the end of the fourth semester, the students work in a Non governmental organization for one month</p>
            <img src="{{ MEDIA_URL }}image/icon/ngo_block_placement.png" width="129px" height="129px" />
          </li>
        </ul>
      </li>
      <li id="fieldwork_organizations">
        <ul>
          <li>
            <h2>Banking, Financial Services and Insurance (BFSI)</h2>
            <ul>
              {% for bfsi in bfsi_list %}
                <li class="companies"><a href="{{ bfsi.1 }}" target="_blank" id="{{ bfsi.0 }}"></a></li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <h2>Fast Moving Consumer Goods (FMCG)</h2>
            <ul>
              {% for fmcg in fmcg_list %}
                <li class="companies"><a href="{{ fmcg.1 }}" target="_blank" id="{{ fmcg.0 }}"></a></li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <h2>Pharma/Healthcare/Biotech</h2>
            <ul>
              {% for pharma in pharma_list %}
                <li class="companies"><a href="{{ pharma.1 }}" target="_blank" id="{{ pharma.0 }}"></a></li>
              {% endfor %}
              
            </ul>
          </li>
          <li>
            <h2>Manufacturing/Oil &amp; Natural Gas</h2>
            <ul>
              {% for manufacturing in manufacturing_list %}
                <li class="companies"><a href="{{ manufacturing.1 }}" target="_blank" id="{{ manufacturing.0 }}"></a></li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <h2>IT/ITES/Telecom</h2>
            <ul>
              {% for it in it_list %}
                <li class="companies"><a href="{{ it.1 }}" target="_blank" id="{{ it.0 }}"></a></li>
              {% endfor %}            
            </ul>
          </li>
          <li>
            <h2>Services</h2>
            <ul>
              {% for services in services_list %}
                <li class="companies"><a href="{{ services.1 }}" target="_blank" id="{{ services.0 }}"></a></li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <h2>Media and Entertainment</h2>
            <ul>
              {% for media in media_list %}
                <li class="companies"><a href="{{ media.1 }}" target="_blank" id="{{ media.0 }}"></a></li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <h2>Consulting</h2>
            <ul>
              {% for consulting in consulting_list %}
                <li class="companies"><a href="{{ consulting.1 }}" target="_blank" id="{{ consulting.0 }}"></a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </article>
</section>
{% endblock %}

{% block tag_scripts_base %}
<script type="text/javascript">
  window.scripts.push(
    "{{ MEDIA_URL }}script/common{{ JS_MINIFIED }}.js"
  );
</script>
{% endblock %}

