{% extends "base.html" %}

{% block tag_trunk %}

<section>
  <header>
    <div>
      <h1>Events and Celebration. <span>Get Nostalgic </span></h1>
    </div>
  </header>
  <article>
      <h2>Pratibimb</h2>
      <p>A chance to re-experience, re-unite and re-live the unforgettable time spent at TISS. A glimpse of how some of our alumni enjoyed their stay for 2 days at TISS this year on 19th and 20th September.</p>
      <a id="event_brochure" class="awesome-button ice-cool large" href="">Download Brochure here</a>
  </article>
</section>

{% endblock %}

