{% extends "base.html" %}

{% block tag_trunk %}

<section>
  <header>
    <div>
      <h1>Tiss Events.</h1>
    </div>
  </header>
  <article>

    <a href="/"

    <form id="new_job" action="" method="get">

      <p><input type="submit" value="Continue &rarr;" /></p>
    </form>

    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>Number</th>
        <th></th>
      </tr>
      <tr>
        <td>Data</td>
      </tr>

    </table>
  </article>
</section>

{% endblock %}

