{% extends "base.html" %}

{% block tag_trunk %}
<section>
  <header>
    <div>
      <h1>Faculty<span>Profiles</span></h1>
    </div>
  </header>
  <article>
    <p>The institute takes pride in its exceptional faculty who are authorities in industry research, consultancy and academics. The composition of the faculty is a healthy mix of well respected academicians and business executives. At the TISS, we boast of one of the highest faculty to student ratios in the country. The faculty has also published articles in leading academic &amp; business journels like the South Asian Journal of Management, the Journal of Indian Psychology, the Indian Journal of Labour Economics and the Economic &amp; Political weekly.</p>
    <h2>Core Faculty</h2>
    <ul class="people-names-designations">
      <li>Dr. Sharit K. Bhowmik <span>Professor and Dean M.A.(Mumbai), Ph.D(Delhi)</span></li>
      <li>Dr. Sasmita Palo <span>Associate Professor &amp; Chairperson M.A., LL.B, Ph.D(Behrampur)</span></li>
      <li>Dr. D.K. Srivastava <span>Professor M.Com, D.Phil(Allahabad), FDPM(IIM-A)</span></li>
      <li>Dr. A.M. Sharma <span>TISCO Chair Professor</span></li>
      <li>Dr. P.C. Saxena <span>Garware Chair Professor</span></li>
      <li>Mr. Noel Machado <span>Assistant Professor M.A.(Mumbai)</span></li>
      <li>Dr. E. Toppo <span>Associate Professor M.A., Ph.D(Poona)</span></li>
      <li>Dr. Sarla K. Rao <span>Assistant Professor M.B.A., M.Phil(Andhra)</span></li>
      <li>Mr. P. Vijaykumar <span>Assistant Professor M.A (Calicut), M.Phil(Bharathiar)</span></li>
      <li>Dr. Zubin R. Mulla <span>Assistant Professor B.E(Poona), P.G.D.B.M.(XLRI), FPM,(XLRI)</span></li>
    </ul>
    <h2>Adjunct Faculty</h2>
    <ul class="people-names-designations">
      <li>Mr. V S Patwardhan <span>Former VP, HR Asian Paints</span></li>
      <li>Dr. Akash Khurana <span>Vice Chairman, Nimbus Communications</span></li>
      <li>Mr. V R Narsimhan <span>Chief Compliance Officer, Kotak Mahindra</span></li>
      <li>Mr. Rajen Mehrotra <span>Chief Knowledge Officer, ACC Limited</span></li>
      <li>Dr. L R Dwivedi <span>Professor, Nursee Monjee Institute of Management Studies</span></li>
      <li>Mr.Ashutosh Ghani <span>Channel Programs Manager, APAC Region Intel India</span></li>
      <li>Mr.Ninan Eapen Chundamannil <span>Strategic Relations Manager, Intel India</span></li>
      <li>Mr. P.Vijayan <span>Head HR, CHEP</span></li>
      <li>Mr.Anirudha Deshmukh <span>General Manager, HR Asian Paints</span></li>
      <li>Prof. K.V. Ganapthy <span>Corporate Trainer &amp; OD Specialist</span></li>
      <li>Mr.Amitabh Sengupta <span>General Manager, HR BPCL, Refinery</span></li>  
    </ul>
  </article>
</section>


{% endblock %}
