{% extends "base.html" %}

{% block tag_trunk %}

<section>
  <header>
    <div>
      <h1>Sneak Peak<span>At Our Happy Moments.</span></h1>
    </div>
  </header>
  <article id="trunk">
    <ul id="gallery_tabs" class="tabs">
      <li><a href="#altiba">ALTIBA</a></li>
      <li><a href="#altida">ALTIDA</a></li>
      <li><a href="#altiha">ALTIHA</a></li>
    </ul>
    <ul id="gallery_panes" class="panes">
      <li id="altiba">
        <ul>
          <li>
            <a href="{{ MEDIA_URL }}image/altiba/altiba-1.jpg" title="Image Description Altiba 1"><img src="{{ MEDIA_URL }}image/altiba/thumbnail/altiba-1.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiba/altiba-2.jpg" title="Image Description Altiba 2"><img src="{{ MEDIA_URL }}image/altiba/thumbnail/altiba-2.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiba/altiba-3.jpg" title="Image Description Altiba 3"><img src="{{ MEDIA_URL }}image/altiba/thumbnail/altiba-3.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiba/altiba-4.jpg" title="Image Description Altiba 4"><img src="{{ MEDIA_URL }}image/altiba/thumbnail/altiba-4.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiba/altiba-5.jpg" title="Image Description Altiba 5"><img src="{{ MEDIA_URL }}image/altiba/thumbnail/altiba-5.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiba/altiba-6.jpg" title="Image Description Altiba 6"><img src="{{ MEDIA_URL }}image/altiba/thumbnail/altiba-6.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiba/altiba-7.jpg" title="Image Description Altiba 7"><img src="{{ MEDIA_URL }}image/altiba/thumbnail/altiba-7.jpg" /></a>
          </li>
        </ul>
      </li>
      <li id="altida">
        <ul>
          <li>
            <a href="" title=""></a>
          </li>
          <li>
            <a href="" title=""></a>
          </li>
          <li>
            <a href="" title=""></a>
          </li>
          <li>
            <a href="" title=""></a>
          </li>
          <li>
            <a href="" title=""></a>
          </li>
          <li>
            <a href="" title=""></a>
          </li>
          <li>
            <a href="" title=""></a>
          </li>
          <li>
            <a href="" title=""></a>
          </li>
        </ul>
      </li>
      <li id="altiha">
        <ul>
          <li>
            <a href="" title=""></a>
          </li>
          <li>
            <a href="" title=""></a>
          </li>
          <li>
            <a href="" title=""></a>
          </li>
          <li>
            <a href="" title=""></a>
          </li>
          <li>
            <a href="" title=""></a>
          </li>
        </ul>
      </li>
    </ul>
  </article>
</section>

{% endblock %}
