{% extends "base.html" %}

{% block tag_additional_stylesheets %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery.lightbox-0.5.css" type="text/css" charset="utf-8" />
{% endblock %}

{% block tag_body_class %}alumni{% endblock %}

{% block tag_trunk %}

<section>
  <header>
    <div>
      <h1>Sneak Peak<span>At Our Happy Moments.</span></h1>
    </div>
  </header>
  <article id="trunk">
    <ul id="tabs">
      <li><a href="#altiba">ALTIBA</a></li>
      <li><a href="#altida">ALTIDA</a></li>
      <li><a href="#altiha">ALTIHA</a></li>
    </ul>
    <ul id="panes">
      <li id="altiba">
        <h1>Do You Remember The 'TISS Quiz'?</h1>
        <ul class="floated_list" id="altiba_gallery">
          <li>
            <a href="{{ MEDIA_URL }}image/altiba/altiba-1.jpg" title="Image Description Altiba 1"><img src="{{ MEDIA_URL }}image/altiba/thumbnail/altiba-1.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiba/altiba-2.jpg" title="Image Description Altiba 2"><img src="{{ MEDIA_URL }}image/altiba/thumbnail/altiba-2.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiba/altiba-3.jpg" title="Image Description Altiba 3"><img src="{{ MEDIA_URL }}image/altiba/thumbnail/altiba-3.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiba/altiba-4.jpg" title="Image Description Altiba 4"><img src="{{ MEDIA_URL }}image/altiba/thumbnail/altiba-4.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiba/altiba-5.jpg" title="Image Description Altiba 5"><img src="{{ MEDIA_URL }}image/altiba/thumbnail/altiba-5.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiba/altiba-6.jpg" title="Image Description Altiba 6"><img src="{{ MEDIA_URL }}image/altiba/thumbnail/altiba-6.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiba/altiba-7.jpg" title="Image Description Altiba 7"><img src="{{ MEDIA_URL }}image/altiba/thumbnail/altiba-7.jpg" /></a>
          </li>
        </ul>
        <a href="http://picasaweb.google.com/lh/sredir?uname=chaudhary.brijendra&target=ALBUM&id=5341706858956061729&authkey=Gv1sRgCIT9z-rewquWsQE&feat=email ">more..</a>
      </li>
      <li id="altida">
        <h1>The 'Vitual TISS Campus'.</h1>
        <ul class="floated_list" id="altida_gallery">
          <li>
            <a href="{{ MEDIA_URL }}image/altida/altida-1.jpg" title="Image Description Altida 1"><img src="{{ MEDIA_URL }}image/altida/thumbnail/altida-1.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altida/altida-2.jpg" title="Image Description Altida 2"><img src="{{ MEDIA_URL }}image/altida/thumbnail/altida-2.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altida/altida-3.jpg" title="Image Description Altida 3"><img src="{{ MEDIA_URL }}image/altida/thumbnail/altida-3.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altida/altida-4.jpg" title="Image Description Altida 4"><img src="{{ MEDIA_URL }}image/altida/thumbnail/altida-4.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altida/altida-5.jpg" title="Image Description Altida 5"><img src="{{ MEDIA_URL }}image/altida/thumbnail/altida-5.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altida/altida-6.jpg" title="Image Description Altida 6"><img src="{{ MEDIA_URL }}image/altida/thumbnail/altida-6.jpg" /></a>
          </li>
        </ul>
        <a href="http://picasaweb.google.com/lh/sredir?uname=benoysheth&target=ALBUM&id=5342806616160571153&authkey=Gv1sRgCJexw_Sjgcj4ggE&feat=email  ">more..</a>
      </li>
      <li id="altiha">
        <h1>An Informal Evening With Old Friends.</h1>
        <ul class="floated_list" id="altiha_gallery">
          <li>
            <a href="{{ MEDIA_URL }}image/altiha/altiha-1.jpg" title="Image Description Altiha 1"><img src="{{ MEDIA_URL }}image/altiha/thumbnail/altiha-1.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiha/altiha-2.jpg" title="Image Description Altiha 2"><img src="{{ MEDIA_URL }}image/altiha/thumbnail/altiha-2.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiha/altiha-3.jpg" title="Image Description Altiha 3"><img src="{{ MEDIA_URL }}image/altiha/thumbnail/altiha-3.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiha/altiha-4.jpg" title="Image Description Altiha 4"><img src="{{ MEDIA_URL }}image/altiha/thumbnail/altiha-4.jpg" /></a>
          </li>
          <li>
            <a href="{{ MEDIA_URL }}image/altiha/altiha-5.jpg" title="Image Description Altiha 5"><img src="{{ MEDIA_URL }}image/altiha/thumbnail/altiha-5.jpg" /></a>
          </li>
        </ul>
        <a href="http://picasaweb.google.com/lh/sredir?uname=prem.shreya&target=ALBUM&id=5344188565900329137&locked=true&authkey=Gv1sRgCNKrnqDEvLLYPg&feat=email ">more..</a>
      </li>
    </ul>
  </article>
</section>

{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
window.scripts.push("{{ MEDIA_URL }}script/page/gallery{{ JS_MINIFIED }}.js");
</script>
{% endblock %}

