{% extends "base.html" %}

{% block tag_header %}
<nav>
    <div>
        <ul class="panes">
            <li id="pane_students">
                <ul>
                    <li>
                        <h1>Profiles</h1>
                        <p>Our students are some of the best in class.</p>
                    </li>
                    <li>
                        <h1>Committees</h1>
                        <p>Watch the Committees in action.</p>
                    </li>
                </ul>
            </li>
            <li id="pane_alumni">
                <ul>
                    <li>
                        <h1>Achievments</h1>
                        <p>We are impatient chaps, keep achieving a lot.</p>
                    </li>
                    <li>
                        <h1>Events</h1>
                        <p>Some nostalgic moments.</p>
                    </li>
                    <li>
                        <h1>Gallery</h1>
                        <p>A Sneak Peak into our events.</p>
                    </li>
                    <li>
                        <h1>Job Board</h1>
                        <p>Where Jobs are written.</p>
                    </li>
                </ul>
            </li>
            <li id="pane_faculty">
                <ul>
                    <li>
                        <h1>Profiles</h1>
                        <p>Faculty members that make a difference.</p>
                    </li>
                    <li>
                        <h1>Research & Publication</h1>
                        <p>Search through the Research our faculty are involved into.</p>
                    </li>
                    <li>
                        <h1>Working Papers & Cases</h1>
                        <p>Know what our Faculty is currently working on.</p>
                    </li>
                </ul>
            </li>
            <li id="pane_placements">
                <ul>
                    <li>
                        <h1>Recruiters</h1>
                        <p>Some of the esteemed companies that believe in us.</p>
                    </li>
                    <li>
                        <h1>Reports</h1>
                        <p>Summer and Winter placement reports.</p>
                    </li>
                    <li>
                        <h1>Student Profiles</h1>
                        <p>Our students are some of the best in class.</p>
                    </li>
                    <li>
                        <h1>Differential Learning </h1>
                        <p>Field work: learning practically not by rote</p>
                    </li>
                </ul>
            </li>
            <li id="pane_tattva_bodha">
                <ul>
                    <li>
                        <h1>Gallery</h1>
                        <p>Snapshots of the past events.</p>
                    </li>
                    <li>
                        <h1>Agenda</h1>
                        <p>Schedule of the Event</p>
                    </li>
                </ul>
            </li>
            <li id="pane_forum">
                <ul>
                    <li>
                        <h1>Student</h1>
                        <p>Discussions on student life at TISS.</p>
                    </li>
                    <li>
                        <h1>Faculty</h1>
                        <p>Where faculty member talk about naughty chaps.</p>
                    </li>
                    <li>
                        <h1>Alumni</h1>
                        <p>Chit Chat, Gyan Sharing and Mentoring.</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="handle"><div>
        <a href="/" id="home"></a>
        <ul>
            <li><a href="#pane_students">students</a></li>
            <li><a href="#pane_alumni">alumni</a></li>
            <li><a href="#pane_faculty">faculty</a></li>
            <li><a href="#pane_placements">placements</a></li>
            <li><a href="#pane_tattva_bodha">tattva bodha</a></li>
            <li><a href="#pane_forum">forum</a></li>
            <li><form><input type="search" name="query" value="" /></form></li>
        </ul>
</div></div>
</nav>
<header>

</header>
{% endblock %}

{% block tag_trunk %}
<div id="trunk">

</div>
{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
    window.scripts.push(
            "{{ MEDIA_URL }}script/lib/page/index{{ MINIFIED }}.js"
            //"{{ MEDIA_URL }}script/index{{ MINIFIED }}.js"
            );
</script>
{% endblock %}

