{% extends "base.html" %}

{% block tag_header %}
<nav>
    <ul class="panes">
        <li id="pane_students">
            <ul>
                <li>Links</li>
            </ul>
        </li>
        <li id="pane_alumni">
            <ul><li>More links</li></ul>
        </li>
        <li id="pane_faculty">
            <ul><li>More links</li></ul>
        </li>
        <li id="pane_placements">
            <ul><li>More links</li></ul>
        </li>
        <li id="pane_tattva_bodha">
            <ul><li>More links</li></ul>
        </li>
        <li id="pane_forum">
            <ul><li>More links</li></ul>
        </li>
    </ul>
    <div class="handle"><div>
        <a href="/" id="home"></a>
        <ul>
            <li><a href="#pane_students">students</a></li>
            <li><a href="#pane_alumni">alumni</a></li>
            <li><a href="#pane_faculty">faculty</a></li>
            <li><a href="#pane_placements">placements</a></li>
            <li><a href="#pane_tattva_bodha">tattva bodha</a></li>
            <li><a href="#pane_forum">forum</a></li>
            <li><form><input type="search" name="query" value="" /></form></li>
        </ul>
</div></div>
</nav>
<header>

</header>
{% endblock %}

{% block tag_trunk %}
<div id="trunk">

</div>
{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
    window.scripts.push(
            "{{ MEDIA_URL }}script/lib/page/index{{ MINIFIED }}.js"
            //"{{ MEDIA_URL }}script/index{{ MINIFIED }}.js"
            );
</script>
{% endblock %}

