{% extends "base.html" %}

{% block tag_trunk %}
<section>
  <header>
    <div>
      <h1>The World's Best Companies Hire <span>Our Students.</span></h1>
    </div>
  </header>
  <article id="trunk">
    <a class="prevPage browse left"><</a>
    <a class="nextPage browse right">></a>
    <div class="scrollable" id="our_recruiters">
      <ul class="scrollable_items">
        {% for recruiter in recruiters_list %}
          <li><a href="{{ recruiter.1 }}" target="_blank" id="{{ recruiter.0 }}"></a></li>
        {% endfor %}
      </ul>
    </div>
  </article>
</section>
{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
  window.scripts.push(
    "{{ MEDIA_URL }}script/recruiters{{ MINIFIED }}.js"
  );
</script>
{% endblock %}

