{% extends "base.html" %}

{% block tag_additional_stylesheets %}
  <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/visualize.jQuery.css"/>
  <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/demopage.css"/>
{% endblock %}

{% block tag_trunk %}

<section>
  <header>
    <div>
      <h1>Reports.<span>Let the numbers speak.</span></h1>
    </div>
  </header>
  #*<ul id="fieldwork">
    <li><a href="#summer_report">Summer Report</a></li>
    <li><a href="#final_report">Final Report</a></li>
  </ul>*#
  <article>
    <ul>
      <li id="summer_report">
        <h1>Summer Placement 2008 - 2009 Report</h1>
        <table class="placement-statistics">
          <tbody>
            <tr>
              <td>Average Stipend</td>
              <td>INR 25,873 per month</td>
            </tr>
            <tr>
              <td>Highest Stipend</td>
              <td>INR 50,000 per month</td>
            </tr>
            <tr>
              <td>Batch Strength</td>
              <td>64</td>
            </tr>
            <tr>
              <td>Number Of Recruiters</td>
              <td>31</td>
            </tr>
          </tbody>
        </table>
        <table id="summer_pie_chart">
          <tbody>
            <tr>
              <th>BFSI</th>
              <td>5</td>
            </tr>
            <tr>
              <th>BFSI</th>
              <td>5</td>
            </tr>
            <tr>
              <th>Conglomerate</th>
              <td>19</td>
            </tr>
            <tr>
              <th>Consulting</th>
              <td>9</td>
            </tr>
            <tr>
              <th>IT/ITES</th>
              <td>21</td>
            </tr>
            <tr>
              <th>FMCG</th>
              <td>24</td>
            </tr>
            <tr>
              <th>Others</th>
              <td>1</td>
            </tr>
            <tr>
              <th>Manufacturing</th>
              <td>21</td>
            </tr>
          </tbody>
        </table>        
      </li>
      <li id="final_report">
        <h1>Final Placement 2008 - 2009 Report</h1>
        <table class="placement-statistics">
          <tbody>
            <tr>
              <td>Average Offer Accepted</td>
              <td>INR 10.11 Lakhs per annum</td>
            </tr>
            <tr>
              <td>Highest Offer</td>
              <td>INR 16.75 Lakhs per annum</td>
            </tr>
            <tr>
              <td>Minimum Accepted Offer</td>
              <td>INR 4.5 Lakhs per annum</td>
            </tr>
            <tr>
              <td>Batch Strength</td>
              <td>64</td>
            </tr>
            <tr>
              <td>Pre Placement Offers</td>
              <td>12</td>
            </tr>
            <tr>
              <td>Lateral Offers</td>
              <td>5</td>
            </tr>
          </tbody>
        </table>
        <table id="final_pie_chart">
          <tbody>
            <tr>
              <th>BFSI</th>
              <td>10</td>
            </tr>
            <tr>
              <th>BFSI</th>
              <td>10</td>
            </tr>
            <tr>
              <th>Conglomerate</th>
              <td>19</td>
            </tr>
            <tr>
              <th>Consulting</th>
              <td>10</td>
            </tr>
            <tr>
              <th>IT/ITES</th>
              <td>5</td>
            </tr>
            <tr>
              <th>FMCG</th>
              <td>17</td>
            </tr>
            <tr>
              <th>Manufacturing</th>
              <td>17</td>
            </tr>
            <tr>
              <th>Pharma</th>
              <td>3</td>
            </tr>
            <tr>
              <th>PSU</th>
              <td>19</td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>    
  </article>
</section>

{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
  window.scripts.push(
    "{{ MEDIA_URL }}script/page/reports{{ MINIFIED }}.js"
  );
</script>
{% endblock %}

