{% extends "base.html" %}

{% block tag_trunk %}
<section>
  <header>
    <div>
      <h1>Student's <span>Committees</span></h1>
    </div>
  </header>
  <article>
    <div id="accordion">
      <h2>HRM &amp; LR Forum</h2>
      <div class="pane">
        <p>The HRM &amp; LR forum provides a platform for interaction with industry practitioners, through guest lectures, seminars &amp; workshops. Some of the prominent speakers invited by the forum to address the students, include:</p>
        <ul id="people_names_designations">
          <li>Adil Malia <span>President HR, Essar Group</span></li>
          <li>Harsh Mariwala <span>CMD, Marico</span></li>
          <li>Karen Dyer <span>Centre for Creative leadership, USA</span></li>
          <li>Mandip Maitra <span>Head HR, HDFC Bank<span></li>
          <li>Pramod Sadarjoshi <span>Executive Director, IDBI Bank</span></li>
          <li>Dr. Maya Reddi <span>Professor, Berkeley College, New York</span></li>
          <li>Guilherme Dias <span>Director of Strategic Talent Management, Pitney Bowes Canada &amp; Latin America</span></li>
        </ul>
      </div>
      <h2>Tattva Bodha</h2>
      <div class="pane">
        <p>Tattva Bodha (the knowledge of truth) is a platform for business leaders, industry practitioners and academicians to discuss current issues of business and socio-economic significance.</p>
      </div>
      <h2>Manthan- the annual fest</h2>
      <div class="pane">
        <p>Manthan is the banner under which the annual festival of the TISS HRM&amp;LR is held. The two main categories of events held during Manthan are:</p>
        <dl>
          <dt>Student Events</dt>
          <dd>Student events are an umbrella of events primarily targeting the B-school students from different colleges across India. The events test the participants on a multitude of skills and competencies required to be an effective manager.</dd>
          <dt>Cultural Events</dt>
          <dd>The cultural events showcase the diversity of creative talent during the festival. Some of the events that add colour to Manthan are Kalrav - the melody melange, Abhivyakti- the choreography and dance competition, Nukad- the street play and Drishti - the ad mad show.</dd>
        </dl>
      </div>
      <h2>The Literary Committee</h2>
      <div class="pane">
        <p>The Literary Committee uses the printed word to showcase the essence of the TISS to the academia and the corporate world. There are three headlining literary releases by the committee. These are summarized below: </p>
        <ul>
          <li>A quarterly newsletter, <em>"Quadrangle"</em>, is brought out by the committee. This seeks to keep the HRM &amp; LR alumni updated about the recent happenings in the institute and provides an interface between the institute and the alumni.</li>
          <li><em>"Kaustubham"</em> is released during the annual business summit, <em>'Tattva Bodha'</em> and draws its thematic inspiration from the premises of the summit. It features prize winning entries from a national level paper writing competition and contributions from top corporate executives &amp; academicians.</li>
          <li><em>"Perspective"</em> is essentially a communiqu&egrave; from TISS to other B schools. It comprises of contributions by the faculty and students on academic issues of interest.</li>
        </ul>
      </div>
      <h2>The Entrepreneurship Development (ED) cell</h2>
      <div class="pane">
        <p>TISS is a member of the National Entrepreneurship Network (NEN). Founded in 2002, NEN is a not-for-profit initiative of the Wadhwani Foundation, working to inspire, educate and support the next generation of high-growth entrepreneurs in India. For the first time, Manthan '08, the annual fest of the TISS, introduced an entrepreneurship event, <em>"Ankur"</em>, in association with NEN &amp; India Development Gateway (IDG).</p>        
      </div>
      <h2>The Dramatics Society</h2>
      <div class="pane">
        <p>The Dramatics society of TISS has been founded to enable students to find expression in theatre. The society not only performs on stage but also takes theatre to the streets with the objective of spreading awareness of social issues especially among the youth.</p>        
      </div>
    </div>
  </article>
</section>

{% endblock %}

